[submodule "openscad-util"]
	path = openscad-util
	url = https://github.com/csunday95/openscad-util.git
[submodule "bearing-openscad"]
	path = bearing-openscad
	url = https://github.com/csunday95/bearing-openscad.git
